* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 3, 67);
}

nav h1 {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  height: 100px;
  cursor: pointer;
}

.responsiveNav ul {
  width: 3rem;
  height: 0.2rem;
  margin: 04rem;
  background-color: rgb(21, 3, 67);
}

.responsiveNav {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .responsiveNav {
    display: block;
  }
  .responsiveNav ul {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: rgb(21, 3, 67);
  }
}
